/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

body {
  background-color: #eee;
}

code, pre, textarea {
  font-family: "Menlo", monospace;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: center;
  text-rendering: optimizeLegibility;
}

#main {
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  color: #333;
  font-family: "PT Serif", serif;
  line-height: 1.5em;
  margin: auto;
  max-width: 800px;
  padding: 1%;
}

.play-overlay, .waveform, .waveform-container {
  height: 300px;
  margin: auto;
  width: 750px;
}

.play-overlay {
  background: url(yt_play.png);
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position:center;
  background-color: #eee;
  opacity: .3;
  z-index: 10;
  position: absolute;
}

.play-overlay:hover {
  opacity: .6;
  cursor: pointer;
}
